<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>LighTxt</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>txt</string>
				<string>text</string>
				<string>log</string>
				<string>json</string>
				<string>md</string>
				<string>markdown</string>
				<string>sql</string>
				<string>xml</string>
				<string>csv</string>
				<string>yml</string>
				<string>yaml</string>
			</array>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.plain-text</string>
				<string>public.json</string>
				<string>net.daringfireball.markdown</string>
				<string>public.sql</string>
				<string>public.xml</string>
				<string>public.comma-separated-values-text</string>
				<string>public.yaml</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>AppIcon</string>
			<key>CFBundleTypeName</key>
			<string>LighTxt text document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>NSDocumentClass</key>
			<string>$(PRODUCT_MODULE_NAME).LighTxtDocument</string>
		</dict>
	</array>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.developer-tools</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>© 2026 LighTxt</string>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>SUAllowsAutomaticUpdates</key>
	<true/>
	<key>SUAutomaticallyUpdate</key>
	<true/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUEnableDownloaderService</key>
	<true/>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/jdimaso/lightxt/main/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>gBCwKhcJKbwiF4xhyyJUYeeBeTE532rujtGQomSF4WI=</string>
	<key>SURequireSignedFeed</key>
	<true/>
	<key>SUVerifyUpdateBeforeExtraction</key>
	<true/>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>SQL source</string>
			<key>UTTypeIdentifier</key>
			<string>public.sql</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>sql</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>YAML document</string>
			<key>UTTypeIdentifier</key>
			<string>public.yaml</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>yaml</string>
					<string>yml</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
